.sectionquienessomos1{
    background-color: #849687;
    padding: 20px;
    flex-direction: column;
    display: flex;
}


.sectionquienessomos1 img{
    max-width: 800px;
    height: auto;
    border-radius: 8px;
}

.sectionquienessomos1 p{
    flex: 1;
    line-height: 1.6;
    color:#ffffff;
}

.sectionquienessomos2{
    background-color: #163026;
    padding: 20px;
    flex-direction: column;
    display: flex;
    color: #ffffff ;
}

.sectionquienessomos2 img{
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.sectionquienessomos2 p{
    font-size: 25px;
    flex: 1;
    line-height: 1.6;
}


@media (max-width: 780px) {

        .sectionquienessomos1 {
        flex-direction: column; 
        padding: 0 10px; 
    }

    .sectionquienessomos1 img {
        max-width: 80%; 
        height: auto;
        display: block; 
        margin: 10px auto; 
    }

    .sectionquienessomos1 p {
        text-align: justify; 
        width: 100%; 
        font-size: 1rem; 
        line-height: 1.5;
        color: #ffffff;
    }

    .sectionquienessomos2 {
        flex-direction: column; 
        align-items: center; 
        padding: 0 10px;
    }
    
    .sectionquienessomos2 img {
        max-width: 90%; 
        height: auto;
        display: block; 
        margin: 10px auto; 
    }

    .sectionquienessomos2 p {
        text-align: justify; 
        width: 100%; 
        font-size: 1rem; 
        line-height: 1.5;
        color: #000;
    }
}