.sectionquienessomos1{
    background-color: #849687;
    padding: 20px;
    flex-direction: column;
    display: flex;
}


.sectionquienessomos1 img{
    max-width: 800px;
    height: auto;
    border-radius: 8px;
}

.sectionquienessomos1 p{
    flex: 1;
    line-height: 1.6;
    color:#ffffff;
}

.sectionquienessomos2{
    background-color: #163026;
    padding: 20px;
    flex-direction: column;
    display: flex;
    color: #ffffff ;
}

.sectionquienessomos2 img{
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.sectionquienessomos2 p{
    font-size: 25px;
    flex: 1;
    line-height: 1.6;
}

.galeria h2 {
    text-align: center;
    margin: 20px 0;
}


.galeria {
    background-color: #163026;   
    padding: 40px 20px;
    color: white;
    text-align: center;
}

.galeria h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    margin: 20px 0;
}


.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: #849687;                 
    border-radius: 8px;               
    overflow: hidden;                 
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.card p {
    padding: 10px;
    color: #000;
    font-size: 0.95rem;
}

.sectioncontacto {
    width: none;
    max-width: 100x;
    background: #849687;
    padding: 50px;
    border-radius: 0px;
}

.sectioncontacto h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.formulariocontacto {
    display: flex;
    flex-direction: column;
}

.formulariocontacto label {
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 14px;
}

.formulariocontacto input,
.formulariocontacto textarea {
    padding: 10px;
    border: 1px solid #cdd1d4;
    border-radius: 5px;
    font-size: 14px;
}

.formulario input:focus,
.formulario textarea:focus {
    border-color: #3a4750;
    outline: none;
}

.contactobutton {
    background: #163026;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

  .contactobutton:hover {
    background-color: #2c363f;
}


@media (max-width: 780px) {
    

    .sectionquienessomos1 {
        flex-direction: column; 
        align-items: center; 
        padding: 0 10px; 
    }

    .sectionquienessomos1 img {
        max-width: 80%; 
        height: auto;
        display: block; 
        margin: 10px auto; 
    }

    .sectionquienessomos1 p {
        text-align: justify; 
        width: 100%; 
        font-size: 1rem; 
        line-height: 1.5;
        color: #ffffff;
    }

    .sectionquienessomos2 {
        flex-direction: column; 
        align-items: center; 
        padding: 0 10px;
    }
    
    .sectionquienessomos2 img {
        max-width: 90%; 
        height: auto;
        display: block; 
        margin: 10px auto; 
    }

    .sectionquienessomos2 p {
        text-align: justify; 
        width: 100%; 
        font-size: 1rem; 
        line-height: 1.5;
        color: #000;
    }

    .galeria h2 {
        font-size: 1.8rem; 
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        padding: 0 5px; 
    }

    .card img {
        height: 150px; 
    }

    .card p {
        padding: 8px; 
        font-size: 0.8rem; 
    }
}