.sectioncontacto {
    background: $color-fondo-secundario; 
    padding: 50px;
    border-radius: 0px;
    max-width: 800px;
    margin: 0 auto;
    
    h2 {
        text-align: center;
        color: $color-p1;
        margin-bottom: 20px;
        font-size: 2.5rem;
    }
}

.formulariocontacto {
    @include flex-layout(column, initial, initial);
    
    label {
        margin: 10px 0 5px;
        font-weight: bold;
        font-size: 14px;
    }

    input,
    textarea {
        padding: 10px;
        border: 1px solid $color-p3; 
        border-radius: 5px;
        font-size: 14px;
        width: 100%; 
    }

    input:focus,
    textarea:focus {
        border-color: $color-p4; 
        outline: none;
    }
}

.contactobutton {
    background: $color-fondo-primario;
    color: $color-p1;
    width: 100%; 
    max-width: 200px; 
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; 

    &:hover {
        background-color: $color-p5; 
    }
}


@media (max-width: 780px) {
    
    .sectioncontacto {
        padding: 20px; 
        max-width: 100%; 
    
        h2 {
            font-size: 2rem; 
        }
    }
    
    .contactobutton {
        max-width: 100%; 
    }
}