.galeria {

    h2 {
        text-align: center;
        margin: 20px 0; 
    }

    background-color: $color-fondo-primario; 
    padding: 40px 20px;
    color: $color-p1;
    text-align: center;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 30px; 
        text-align: center;
        margin: 20px 0; 
        @media (max-width: 780px) {
            font-size: 1.8rem; 
        }
    }
}


.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 780px) {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        padding: 0 5px; 
    }
}

.card {
    background: $color-fondo-secundario; 
    border-radius: 8px; 
    overflow: hidden; 

    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
        
        @media (max-width: 780px) {
            height: 150px; 
        }
    }

    p {
        padding: 10px;
        color: $color-p2; 
        font-size: 0.95rem;

        @media (max-width: 780px) {
            padding: 8px; 
            font-size: 0.8rem; 
        }
    }
}