.menu {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    font-family: Arial, sans-serif;
    
    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}

.categoria {
    margin-bottom: 30px;

    h3 {
        margin-bottom: 10px;
        border-bottom: 2px solid $color-p3; 
        padding-bottom: 5px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        @include flex-layout(row, space-between, flex-start); 
        margin-bottom: 15px;
        border-bottom: 1px dashed $color-p3; 
        padding-bottom: 10px;

        div {
            flex: 1; 
        }

        h4 {
            margin: 0;
        }

        p {
            margin: 2px 0;
            font-size: 14px;
            color: $color-p3;
        }

        @media (max-width: 780px) {
            flex-wrap: wrap; 
            justify-content: space-between; 
            align-items: flex-start;
            margin-bottom: 10px; 
            padding-bottom: 5px;

            div {
                flex: 1 1 70%; 
                display: block; 
                padding-right: 5px; 
            }
            
            h4 {
                width: 100%; 
                font-size: 1rem;
                text-align: left; 
            }

            p {
                font-size: 0.8rem; 
                color: $color-p3; 
                width: 100%; 
                margin-top: 2px;
            }
        }
    }
}

.precio {
    font-weight: bold;
    margin-left: 20px; 
    white-space: nowrap;
    color: $color-p2; 

    @media (max-width: 780px) {
        flex: 0 0 auto; 
        margin-left: 0;
        align-self: flex-start; 
        order: 2; 
        font-size: 1rem;
    }
}